.l-section {
    position: relative;

    &__container {
        @include container();
    }

    &__heading {
        @include heading();
        font-size: 6rem;
        margin-bottom: $spacing-gutter;
    }

    & + & {
        margin-top: 6rem;
    }
}