@import '../../styles/settings/';
@import '../../styles/mixins/';

.artist {
    position: relative;
    
    &__header {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: last baseline;
        margin-bottom: 2rem;
    }

    &__name {
        @include heading();
        font-size: 6rem;
        margin-right: 1.5rem;

        @include media-breakpoint-up(sm) {
            font-size: 12rem;
            margin-right: 3rem;
        }
    }

    &__instagram {
        display: flex;
        align-items: center;
        font-size: 3rem;
        margin-right: 3rem;
    }

    &__icon {
        fill: $color-white;
        width: 3rem;
        height: 3rem;
        margin-right: 0.75rem;
    }

    &__button {
        @include media-breakpoint-up(sm) {
            position: relative;
            bottom: 1.5rem;
            margin-left: auto;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: $spacing-gutter;
    }
}