.header {
    @include padding-vertical( 1rem );
    background-color: rgba( $color-black, .35 );
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-high;

    &__container {
        @include container();
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        @include heading();
        font-size: 6rem;
        transition: opacity .3s ease-in-out, font-size .3s ease-in-out;

        .header--home:not(.header--scrolled) & {
            font-size: 1rem;
            opacity: 0;
        }

        .header--scrolled & {
            opacity: 1;
        }
    }

    &__nav {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        gap: 2rem;
    }
}