$color-black:					#000;
$color-dark-grey:				#333;
$color-grey:					#888;
$color-light-grey:				#ccc;
$color-white:					#fff;
$color-blue:					#007bff;
$color-indigo:					#6610f2;
$color-purple:					#6f42c1;
$color-pink:					#e83e8c;
$color-red:						#dc3545;
$color-orange:					#fd7e14;
$color-yellow:					#ffc107;
$color-green:					#28a745;
$color-teal:					#20c997;
$color-cyan:					#17a2b8;

// Social brand colors.
$color-facebook:				#3b5998;
$color-twitter:					#1da1f2;
$color-google:					#4285f4;
$color-linkedin:				#0077b5;
$color-youtube:					#ff0000;
$color-apple:					#d56dfb;
$color-spotify:					#1dB954;
$color-noice:					#fab23a;
$color-amazon-music:            #25d1da;

// Status colors.
$color-success:					$color-green;
$color-info:					$color-cyan;
$color-warning:					$color-yellow;
$color-danger:					$color-red;

// Theme colors.
$vault-purple:                  #601967;
$vault-orange:                  #f06a11;
$vault-green:                   #82b30c;
$vault-maroon:                  #612219;

// Brand colors.
$color-body:                    $color-white;
$color-background:              $vault-purple;
$color-primary:                 $color-green;
$color-border:                  $color-grey;