// Typefaces.
$font-family-sans-serif:        "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:             "Georgia", "Times New Roman", serif;
$font-family-heading:           "Bebas Neue", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:         Monaco, Consolas, monospace;
$font-family-base:              $font-family-sans-serif;

// Font sizes.
$font-size-base:                1.8rem;
$line-height-base:              1.4;

// Font weights.
$font-weight-normal:            200;
$font-weight-bold:              700;
$font-weight-base:              $font-weight-normal;