@import '../../styles/settings/';
@import '../../styles/mixins/';

.card {
    background: darken( $vault-purple, 10 );
    border-radius: 2rem;
    box-shadow: 0 0 0 rgba( $vault-maroon, 0 ), 0.5rem 0.5rem 0 $vault-green;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    transition-property: box-shadow transform;

    &:hover {
        box-shadow: 0.5rem 0.5rem 1rem rgba( $color-black, 0.5 ), 1rem 1rem 0 $vault-green;
        transform: translate( -0.5rem, -0.5rem );
    }

    &__text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 2rem;
        margin-top: -6rem;
        padding: $spacing-gutter;
        position: relative;

        @include media-breakpoint-up(md) {
            margin-top: -8rem;
        }
    }

    &__name {
        @include heading();
        font-size: 6rem;
        margin-right: 2rem;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 8rem;
        }
    }

    &__instagram {
        display: flex;
        align-items: center;
        font-size: 2.4rem;
    }

    &__icon {
        fill: $color-white;
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.75rem;
    }

    &__buttons {
        margin-top: auto;
        display: flex;
        gap: $spacing-gutter;
    }
}